header {
    @include flex(row, nowrap, space-between, center);
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
    position: relative;
    img {
        width: 45px;
        &.desktop {
            display: none;
        }
        @include break(medium) {
            &.desktop {
                display: block;
                width: 150px;
            }
            &.mobile {
                display: none;
            }
        }
    }
    .ham-menu {
        @include size(40px, 43px);
        position: relative;
        cursor: pointer;
        span {
            @include absolute-center;
            @include size(4px, 100%);
            @include bg($accent);
            @include radius(25px);
            transition: transform .8s ease;
            &.top {
                top: 20%;
            }
            &.mid {
                transition: transform .8s ease, opacity .8s ease;
            }
            &.bottom {
                top: 80%;
            }
        }
        &.active {
            span {
                &.top {
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(495deg);
                }
                &.mid {
                    transform: translate(-50%, -50%) rotate(180deg);
                    opacity: 0;
                }
                &.bottom {
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(-495deg);
                }
            }
        }
        @include break(medium) {
            display: none;
        }
    }

    @include break(medium) {
        @include flex(column, nowrap, flex-start, stretch);
        padding: .5rem;
        width: 300px;
        min-width: 300px;
        margin-right: .5rem;
    }
}