.pagination-container {
    @include flex(row, nowrap, flex-end, center);
    ul {
        list-style: none;
        @include flex(row, nowrap, center, center);
        gap: 0 .5rem;
        margin: 0 auto;
        li {
            @include center-flex;
            @include radius(50%);
            @include simple-size(35px);
            @include bg(darken($panel-light, 5%));
            cursor: pointer;
            transition: background-color .3s ease, color .3s ease;
            &:hover {
                @include bg(darken($panel-light, 10%));
            }
            &.active {
                @include bg($accent);
                color: $white;
                pointer-events: none;
            }
            
        }
    }
}