.user-card {
    @include radius(.5rem);
    @include bg($white);
    padding: .33rem;
    position: relative;
    width: 100%;
    cursor: pointer;
    color: $panel-dark;
    border: 1px solid #E8ECF4;
    margin-top: 1rem;
    opacity: 0;
    animation: fadeIn .5s .1s ease forwards;
    @include break(large) {
        width: 47%;
    }
    @include break(xxlarge) {
        width: 31%;
    }
    @include break(xxxlarge) {
        width: 22%;
    }
    img {
        @include radius(50%);
        @include absolute-center;
        top: 10px;
        width: 75px;
        border: 8px solid $panel-light;
    }
    span.name {
        text-align: center;
        margin-top: 3rem;
        display: block;
    }
    .user-info {
        margin-top: 1rem;
        padding: 1rem;
        font-size: .8rem;
        @include bg(#E8ECF4);
        @include radius(.5rem);
        @include flex(column, nowrap, center, center);
        span {
            margin: .05rem auto;
        }
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        margin-top: 1rem;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}